<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados do filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <img src="../../../assets/vingadores.jpg" alt="vingadores">
    </ion-card-header>
    <ion-card-content>
     <div>
      <h1>Vingadores: Ultimato
      <ion-chip outline color="success" outline>
        <ion-label >83%</ion-label>
      </ion-chip>
    </h1>
    <p>25/04/2019</p>
     </div>
     <ion-badge color="light">Aventura</ion-badge>
     <ion-badge color="light">Ficção científica</ion-badge>
     <ion-badge color="light">Ação</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
