<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados do filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <img src="../../../assets/os croods 2.jpg" alt="oscroods">
    </ion-card-header>
    <ion-card-content>
     <div>
      <h1>Os Croods 2: Uma Nova Era
      <ion-chip outline color="success" outline>
        <ion-label >71%</ion-label>
      </ion-chip>
    </h1>
    <p>25/03/2021</p>
     </div>
     <ion-badge color="light">Animação</ion-badge>
     <ion-badge color="light">Família</ion-badge>
     <ion-badge color="light">Aventura</ion-badge>
     <ion-badge color="light">Fantasia</ion-badge>
     <ion-badge color="light">comédia</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
