<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full"  routerLink="/vingadores">
      <ion-thumbnail slot="start">
        <img src="../../assets/vingadores.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Vingadores: Ultimato (2019)</h1>
          <p> 25/04/2019 (BR) - 3h 1m</p>
          <p>Aventura, Ficção científica, Ação</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>83%</ion-label>
      </ion-chip>
      
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="full" routerLink="/homemaranha">
      <ion-thumbnail slot="start">
        <img src="../../assets/homem aranha.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap" >
        <div>
          <h1>Homem-Aranha: Longe de Casa</h1>
          <p> 04/07/2019 (BR) - 2h 10m</p>
          <p>Ação, Aventura, Ficção científica</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>75%</ion-label>
      </ion-chip>
      
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="full" routerLink="/coringa">
      <ion-thumbnail slot="start">
        <img src="../../assets/coringa.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Coringa (2019)</h1>
          <p> 03/10/2019 (BR) - 2h 2m</p>
          <p>Crime, Thriller, Drama</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>75%</ion-label>
      </ion-chip>
      
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="full"  routerLink="/aves">
      <ion-thumbnail slot="start">
        <img src="../../assets/aves de rapina.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Aves de Rapina: Arlequina e sua Emancipação Fantabulosa (2020)</h1>
          <p> 06/02/2020 (BR) - 1h 49m</p>
          <p>Ação, Crime</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>71%</ion-label>
      </ion-chip>
      
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="full" routerLink="/oscroods">
      <ion-thumbnail slot="start">
        <img src="../../assets/os croods 2.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Os Croods 2: Uma Nova Era (2020)</h1>
          <p> 25/03/2021 (BR) - 1h 35m</p>
          <p>Animação, Família, Aventura, Fantasia, Comédia</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>71%</ion-label>
      </ion-chip>
      
    </ion-item>
  </ion-list>

</ion-content>