<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados do filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <img src="../../../assets/coringa.jpg" alt="aves">
    </ion-card-header>
    <ion-card-content>
     <div>
      <h1>Coringa
      <ion-chip outline color="success" outline>
        <ion-label >75%</ion-label>
      </ion-chip>
    </h1>
    <p>03/10/2019</p>
     </div>
     <ion-badge color="light">Crime</ion-badge>
     <ion-badge color="light">Thriller</ion-badge>
     <ion-badge color="light">Drama</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
